<div id="{{block_id}}" style="background-image: url({{bg_image}});">
 	<div class="container centered">
 		<div class="row">
 			<div class="col-lg-8 col-lg-offset-2">
 			<i class="{{icon}}"></i>
 			{{{text}}}
 			<h4><br/>{{name}}</h4>
 			<p>{{company}}</p>
 			</div>
 		</div><!--/row -->
 	</div><!--/container -->
 </div><!--/twrap -->